/*3.2- About section */
.about {}


.about-item {
    width: 30%;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}

.about-item.mg {
    margin: 0 5%;
}

.about-item:hover .about-item-title {
    color: var(--whitecolor);
}

.about-item .icon {
    color: var(--maincolor);
}

.about-item-title {
    transition: color .5s;
}

.about-item-desc {
    line-height: 1.6;
    color: var(--graycolor);
}

.about-item-link {
    color: var(--maincolor);
}