/* 3.4- offer section */


.offer-item {
    width: 30%;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}

.offer-item.mg {
    margin: 0 5%;
}

.offer-item .icon {
    position: absolute;
    left: 15px;
    top: 35px;
    color: var(--maincolor);
}

.offer-item-title {
    transition: color .5s;
}

.offer-item-desc {
    line-height: 1.6;
    color: var(--graycolor);
}

.offer-item:hover .offer-item-title {
    color: white;
}