/* 
  1- common styles
  2- General styles
  3-sections
       3.0- Header section
       3.1- Home section
       3.2- About section
       3.3- Portfolio section
       3.4- Services section
       3.3.1- Home section 
       5- Prices section
       3.6- Team section
       3.7- Blog section
       3.8-  Contact section
       3.9- Footer section
*/

/* 1-common styles */
.overlay {
    /* more repeat*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.hover-opacity{
    transition:opacity .5s;
}

.hover-opacity:hover{
    opacity: 0.8;
}

.ltr-effect,
.tob-effect{
    position: relative;
}

.ltr-effect::after,
.tob-effect::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: -1;
}

.ltr-effect::after{
    width: 0;
    transition: width .5s;
}

.tob-effect::after{
    height: 0;
    transition: height .5s;
}
.ltr-effect:hover::after{
    width: 100%;
}


.tob-effect:hover::after {
    height: 100%;
}


/* 2-General css style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*css3 for margin and padding take from width*/
}

.header{
    /* background-color: gray; */
    position: fixed;
    width: 100%;
    z-index: 6;
    background-color: rgba(0,0,0,0.5);
}


:root{
    --maincolor : #6195ff;
    --graycolor : #999;
    --pg-gray : #f9f9f9;
    --whitecolor : #fff;
}


.container{
    width: 80%;
    margin: auto;
}

.clear {
    clear: both;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}


a{
    text-decoration: none;
}


body{
    font-family: 'Varela Round','Sans-serif';
}

h1 , h2 ,h3, h4, h5 ,h6{
    font-family: montserrat,sans-serif;
}

button{
    font-family: inherit;
}


.pd-y{
  padding: 120px 0;
}


.section-header{
    text-align: center;
    
}

.section-header .section-title{
    font-size: 35px;
}



